body::-webkit-scrollbar {
	display: none;
}

.pb-embed {
	margin-left: 5px;
	margin-right: 5px;
	padding: 30px;
	align-content: center;
	line-height: 200% !important;
}

.pb-embed a {
	color: #3ca59d !important;
}

.pb-embed--entry-player {
	margin-top: 30px;
	width: 100%;
}

.pb-embed--entry-meta {
	width: 100%;
	padding: 30px;
}

.pb-embed--entry-description {
	width: 100%;
	padding: 30px;
}

.podcast-entry .pb-embed--info-artwork {
	height: 300px;
	padding: 8px;
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-bottom: 40px;
	-webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	overflow: hidden;
}

.sidebar-item {
	padding-top: 100px;
	margin-left: 50px;
}

.scrollable-list {
	height: 90vh;
	overflow: auto;
	padding-bottom: 50px;
}

.scrollable-list::-webkit-scrollbar {
	display: none;
}

#back2Top {
	width: 40px;
	line-height: 40px;
	overflow: hidden;
	z-index: 999;
	display: none;
	cursor: pointer;
	border-radius: 10px;
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	position: fixed;
	bottom: 40px;
	right: 40px;
	background-color: #ddd;
	color: #555;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
}

#back2Top:hover {
	background-color: #3ca59d;
	color: #fff;
}
